<img class="img-responsive" src='<%= asset_path "request_banner.png" %>' alt="">
<div class="container g-mt-40 col-md-6 col-md-offset-3">

<h4>Sign Up</h4><hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="input-group">
	  <%= f.label :Email %><font color=red>*</font>
	  <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "dongguk@dgu.edu" %>
	</div><br />
  <div class="input-group">
	  <%= f.label :Password %><font color=red>*</font>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Enter password more than 6 characters" %>
	</div><br />
  
  <div class="input-group">
	  <%= f.label :Password_Check %><font color=red>*</font>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control  ", placeholder: "Password_confirmation" %>
	</div><br />
  <div class="input-group">
	  <%= f.label :Name %><font color=red>*</font>
    <%= f.text_field :name, autocomplete: "off", class:"form-control", placeholder: "JaeChol Lee" %>
	</div><br />
	<div class="input-group">
	  <%= f.label :Birth %>
    <%= f.text_field :birth, autocomplete: "off", class:"form-control", placeholder: "Month/Day/Year" %>
	</div><br />
	<div class="input-group">
	  <%= f.label :Nationality %><font color=red>*</font>
	  <%= f.select(:nationality, ['South Korea', 'USA', 'China', 'Japan', 'Canada'], {include_blank: "Select Nationality"}, { :class => 'form-control' }) %>
	</div><br />  
	<div class="input-group">
	  <div class="row">
  	  <div class="col-md-3 col-md-offset-3">
  	    <%= f.radio_button :youyou, '0', :checked => true, class: "youyou_close" %> 
        <font size="3">Traveler</font>
      </div>
      <div class="col-md-3">
        <%= f.radio_button :youyou, '1', class: "youyou_open" %>
        <font size="3">YOUYOU</font>
      </div>
    </div>
	</div><br />
	<div class="input-group area" style="display:none;">
	  <%= f.label :Area %><font color=red>*</font> (Duplicates OK)<hr>
	  <div class="row">
  	  <div class="col-md-3 col-md-offset-3">
  	    <%= f.radio_button :area, '1', :checked => true %> 
        <font size="3">Jeju Island</font>
      </div>
      <div class="col-md-3">
        <%= f.radio_button :area, '0' %>
        <font size="3">Seoul</font>
      </div>
    </div>
	</div><br />
  <div class="row text-center">
    <div class="actions col-md-6">
      <%= f.submit "Sign up", class: "btn user-btn" %>
    </div>
    <div class="g-mb-20 col-md-6">
      <%= link_to "Sign in", new_session_path(resource_name), class: "btn user-btn" %>
    </div>
  </div><br/>
<% end %>
</div>
