<div class="container g-mt-40">
<center>
  <br><br>
  <h4>How was yout self-guided tour? Was it hard and scary?</h4>
  <h4>Chat with your local friends ans solve your problems of inconvenience while travlling.</h4>
  <div class="row g-mt-80">
    <div class="col-md-6 col-sm-12">
      <img class="img-responsive" src='<%= asset_path "left_phone.png" %>' alt="">
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-sm-12 intro-box">
          <img class="img-responsive intro-img" src='<%= asset_path "intro_01.png" %>' alt="">
        </div>
        <div class="col-md-6 col-sm-12 intro-box">
          <img class="img-responsive intro-img" src='<%= asset_path "intro_02.png" %>' alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 intro-box">
          <img class="img-responsive intro-img" src='<%= asset_path "intro_03.png" %>' alt="">
        </div>
        <div class="col-md-6 col-sm-12 intro-box">
          <img class="img-responsive intro-img" src='<%= asset_path "intro_04.png" %>' alt="">
        </div>
      </div>
    </div>
  </div>
</center>
</div>