<%= render :partial => "layouts/header" %>
<div class="container-fluid">
  <%= render :partial => "intro" %><hr>
  <%= render :partial => "serviceflow" %><hr>
  <%= render :partial => "contact" %>
  <%= render :partial => "layouts/footer" %>
</div>
