<img class="img-responsive" src='<%= asset_path "request_banner.png" %>' alt="">
<div class="container g-mt-40 col-md-6 col-md-offset-3">
<h4>Sign in</h4><hr>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-group" style="padding-left:20px;">
	  <%= f.label :Email %>
	  <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "dongguk@dgu.edu" %>
	</div><br />
  <div class="input-group" style="padding-left:20px;">
	  <%= f.label :Password %>
	  <%= f.password_field :password, autofocus: false, class:"form-control" %>
	</div><br />
  <div class="row text-center">
    <div class="actions">
      <%= f.submit "Email Sign in", class: "btn user-btn" %>
    </div>
    <div class="g-mb-20 g-mt-20">
      <%= link_to "Sign up", new_registration_path(resource_name), class: "btn user-btn" %>
    </div><hr>
  </div><br />
<% end %>
</div>

